@page {
  size: A4 landscape;
  margin: 0;
}

@page :first {
  size: A4 landscape;
  margin: 0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
  }
}
